{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 120,
  "plugins": ["prettier-plugin-organize-imports"],
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "options": {
        "prettier-plugin-organize-imports": {
          "importOrder": ["^\\u0000", "^@\\w", "^[./]", "^\\../", "^"]
        }
      }
    }
  ]
}
