name: publish

on:
  workflow_dispatch: # Manual trigger

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Dependencies
        run: yarn install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Get Last Version
        id: last_version
        run: |
          LAST_VERSION=$(npm view @olafkotur/react-spindle version --registry https://registry.npmjs.org)
          echo "last_version=$LAST_VERSION" >> $GITHUB_ENV
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Check Current Version
        id: current_version
        run: |
          CURRENT_VERSION=$(node -p "require('./package.json').version")
          echo "current_version=$CURRENT_VERSION" >> $GITHUB_ENV

      - name: Compare and Bump Version
        if: env.last_version == env.current_version
        run: |
          echo "Current version ($CURRENT_VERSION) matches the last published version ($LAST_VERSION). Bumping patch..."
          npm version patch --no-git-tag-version
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Run Build Script
        run: node build.js

      - name: Yarn Build
        run: yarn build
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Publish Package
        run: npm publish --access restricted
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Commit and Push Changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add package.json
          # Check if there are changes to commit
          if git diff --cached --quiet; then
            echo "No changes to commit. Skipping."
          else
            git commit -m "Bump version and publish changes"
            git push origin main
          fi
